@charset "UTF-8";
/* CSS Document */


/* ==================== info_box ===================== */

a#site_logo {
	display: block;
	background: url(/assets/logo.gif) 0 0 no-repeat;
	margin: 20px 0 0 0;
	text-indent: -6000px;
	float:left;
	width: 247px;
	height: 119px;
	z-index: 40;
	position: relative;
}
#nav li a {
	margin:20px 5px 0;
}
#user_links {
	float:right;
	padding: 10px;
	background: url(/assets/utilities_bg.png) top left repeat;
}

#search_box {
	float:right;
	color: #333;
	background: #333024;
	padding: 8px 5px;	
	height: 33px;
}
div#search_box input#search_icon {
	background-color: transparent;
	background-image:url(/assets/go.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	border-style:none;
	font-size:13px;
	height:30px;
	margin: 0px 0 -1px -5px;
	padding: 0px 0;
	width:30px;
}
#home .col3 {
	display: block;
	width: 439px;
	float: left;
	padding: 1px 20px 1px 20px;
	border-left: 1px solid #bbb;
	margin: 0;
}
/* #section .main_content_col .col4 {
	display: block;
	width: 220px;
	float: left;
	padding: 5px 0 1px 10px;
	margin: 0;
} */


#home #header_quotes #quote_panel {
	background: #fff7d1 none;
	border-right: 4px solid #332f2f;
	padding:15px 17px 2px;
}
#home #header_quotes #quote_panel_base {
	background: #fff7d1 none;
	border-right: 4px solid #332f2f;
	border-bottom: 4px solid #332f2f;
	height: 1px;
}
#news .lst_pic li {
	float: left;
   width: 300px;

}
ul.lst_cal li {

}
div#upcoming_events ul.lst_cal li {
	width:180px;
}
#info_box #search_box {
	float:none;
	margin:10px -5px 10px -10px;
	padding:0 0 10px 0;

}
#info_box #searchField {
	width:100%;
	border:none;
}

