* {
  	font-family: arial, sans-serif;
	font-size: 14px;
	color: black;
}

a:link, a:visited {
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
.clear {
	clear:both;
}
.hide {
	visibility:hidden;
}
.no_print {
	display: none;
}
.content a:link:after, .content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}

.content .col1 {
	display: none;
	width: 0px;
}
.content .col2 {
	xxfloat: left;
}
.content .col2 h2#page_title {
	font-size: 1.6em;
	color: #0090DC;
	clear: both;
}
.content .col2 #pagetext h2, .content .col2 h3 {
	color:#0090DC;
	font-size: 1.3em;
	text-align: left;
	margin: 0.5em 0;
}
.content .col2 #pagetext h4 {
	color:#0090DC;
	font-size: 1.1em;
	margin: 0.5em 0;
}

#breadcrumb {
  margin-top: 30px;
}

#calendar_content li {
  list-style-type: none;
}

#calendar_content .key {
  display: none;
}

#calendar_menubar {
  display: none;
}

#content_heading {
  clear: left;
  margin-top: 30px;
}

#footer_links1  li {
  display: none;
}

  #footer_links1 li.copyright {
    color: white;
    display: inline;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

    #footer_links1 li.copyright #copyright_text {
      color: black;
    }

#footer_links2 {
  display: none;
}

#footer_logos {
  background: transparent url(/assets/footer_logos_bw.png);
  float: right;
  height: 50px;
  width: 97px;
}

#header {
	margin-bottom:0px;
	font-size: 20px;
	width: 952px;
	height: 90px;
}
h1#site_logo {
	float:left;
	font-size: 1.6em;
}

#header ul {
  display: none;
}
#header #utilities, #header_quotes, #nav_bg, #nav, #footer_main_links, #siteby, img.header_img {
	display: none;
}
#hub .content div#resources a.more_resources {
	text-align: left;
}
#sub_footer {
	display: block;
}
#sub_footer p {
	font-size: 0.8em;
	margin: 0.2em 0em;
}
#inside_button_bar {
  display: none;
}

#phone_number {
  background: transparent url(/assets/01709724990_bw.png);
  float: right;
  height: 12px;
  text-indent: -1000em;
  width: 115px;
}

#right_column {
  display: none;
}

#searchBox {
  display: none;
}

.calendar_marker {
  float: left;
  height: 20px;
  margin-right: 20px;
  width: 10px;
}

.calendar_month td {
  border: 1px solid gray;
  vertical-align: top;
}

.details {
  display :none;
}

.image {
  display: none;
}

.nextLink {
  display: none;
}

.previousLink {
  display: none;
}

#pagetext {
	width: 100%;
}
span.cal_sheet, .fieldName, #with_sidebar #pull_quote .fieldName {
	margin-top:0px;
	clear:left;
	float:left;
	margin-top: 10px;
	padding:0 20px 0 0;
	text-align:right;
	width:120px;
	font-weight: bold;
}
.fieldValue, #with_sidebar #pull_quote .fieldValue, div.course_event h2, div.course_event h3, .course_mini {
	float:left;
	clear: none;
	margin:10px 0 0 0;
	width: 560px;
}
div.course_event h2 {
	margin-top: 6px;
}
div.course_event h3 {
	float: none;
}
div.course_event h3.subtitle {
	margin-left: 140px;
	font-size: 1.1em;
}
#with_sidebar .side_col {
	border-top: 1px solid #333333;
	padding: 1px 0 20px;
	margin-top: 20px;
}
.content {
	border-bottom: 1px solid black;
	margin-bottom: 20px;	
}

#with_sidebar .side_col img {
	float: right;
	margin: 10px 0 10px 10px;
}
div.course_event img {
	display: none;
}
.course_mini {
	clear: left;
	margin-bottom: 10px;
}
div#call_to_action {
	display: none;
}